<h2>Can my website be scraped ?</h2>
<form action="/checker/visit" method="post" class="card" id="scrap_form">
  <p id="error_url" style="visibility: hidden;"></p>
  <div id="div_url" style="visibility: hidden;">Going to scrap: <p id="msg_url"></p></div>
  <label id="input">Your website URL
    
  </label>
  <button>Check !</button>
</form>
<script src="/public/checker.js"></script>