version: "3.8"

services:
  web:
    build: .
    container_name: Flask-of-Cookies
    ports:
      - "8000:8000"
    environment:
      SECRET_KEY: ${SECRET_KEY}  
    restart: unless-stopped
